nav {
    background-color: rgb(192, 192, 192, 1);
    /* position: fixed; */
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 0%;
    left:0%;
    text-align: center;
}

a {
    display: inline;
    text-decoration: none;
    padding: 10px;
    color: black;
    font-weight: bold;
}

footer {
    background-color: rgb(192, 192, 192, 0.3);
    color: black;
    position: fixed;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    bottom: 0%;
    left:0%;
    text-align: center; 
}

.active, a:hover{
    background: red;
}